<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <script> window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload();
            }
        }
    </script>
</head>
<body>
    <% include partials/header.ejs %>
    
	<div id="top-image">
        <h1 id="top-title"><%= title %></h1>
    </div>
    <div class="container">
        <div id="posters-wrapper" class="content-padding clearfix">
            <center>
                <span class="alert alert-info"><%= asd %></span>
            </center>
        </div>
    </div>

	<% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>

</body>
</html>