<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>

	<div id="top-image">
		<h1 id="top-title"><%= title %></h1>
	</div>
	<div class="container" style="padding-top: 50px">
        <% include partials/categoryEditForm.ejs %>
    </div>
   
	<% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>

</body>
</html>