<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>
	<div id="top-image">
		<h1 id="top-title"><%= title %></h1>
	</div>
	<div class="container" style="padding-top: 50px">
		<center>
			<h1>Ally point</h1>
			<font face = "Verdana" size = 4>Environment in development for discovering other gamers</font><br/>
		</center>
	</div>
	
	<% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>

</body>
</html>